.login-background {
    background-image: '../../assets/login-image.jpg';
    background-size: 'cover';
    height: '100vh';
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
}